* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    outline: none;
}

body {
    background-image: url(./img/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    background-color: rgb(211, 211, 211);
    width: 40%;
    border-radius: 10px;
    padding: 2em 1em;
    margin: 200px auto;
}

.input-text-task {
    border-radius: 5px;
    border: none;
    padding: 1em;
    width: 78%;
    transition: all 0.8s;
}

.input-text-task:focus {
    border-radius: 20px;
}

.button-add-task {
    background-color: rgb(184, 235, 142);
    width: 20%;
    padding: 1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    float: right;
    font-weight: 700;
    transition: all 0.4s;
}

.button-add-task:hover {
    scale: 1.1;
}

.button-add-task:active {
    opacity: 0.8;
}

img {
    width: 5%;
}

img:hover {
    scale: 1.2;
}

li img {
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.8s ease-in-out;
}

li:hover img {
    opacity: 1;
}

.list-task {
    width: 100%;
    list-style: none;
}

.task {
    display: flex;
    background-color: rgb(243, 243, 243);
    padding: 0.8em;
    margin: 1em 0;
    border-radius: 4px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.14);
    justify-content: space-between;
    cursor: pointer;
}

.done {
    background-color: rgb(138, 214, 75);
    text-decoration: line-through;
}

@media screen and (max-width: 1050px) {

    body {
        background-image: none;
        background: linear-gradient(90deg, rgb(129, 255, 146),  rgb(147, 255, 255));
    }

    .container {
        width: 95%;
        background-color: rgb(134, 208, 218);
    }

    .button-add-task:hover {
        scale: 1;
    }
    
    .button-add-task:active {
        opacity: 1;
    }
    
    img {
        width: 5%;
    }
    
    img:hover {
        scale: 1;
    }

    .button-add-task {
        width: 28%;
        background-color: rgb(162, 241, 97);
    }

    .input-text-task {
        width: 70%;
    }

    .task {
        padding: 0.4em;
        align-items: center;
    }

}
